@font-face {
  font-family: "MasonChronicles";
  src: url("../fonts/MasonChronicles.woff") format("woff"),
    url("../fonts/MasonChronicles.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background: #141218;
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  font-size: 16px;
  line-height: 14px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: start;
  background-image: url(../img/background.jpg);
  background-repeat: no-repeat;
  background-position: top right 20%;
}
.container {
  width: 95%;
  max-width: 1140px;
  margin: auto;
}
.header {
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
  align-items: center;
  margin-bottom: 90px;
}
.menu-list {
  margin-right: auto;
  margin-left: 47px;
}
.menu-link {
  text-decoration: none;
  margin-right: 24px;
  color: #ffffff;
}

.social-link {
  margin-left: 20px;
  text-decoration: none;
}
.main-content {
  display: flex;
  align-items: center;
  margin-bottom: 85px;
}
.ganre {
  margin-bottom: 16px;
  display: block;
}
.rating {
  display: flex;
  align-items: center;
}
.rating-number {
  margin-left: 10px;
  font-size: 12px;
}
.main-title {
  font-family: "MasonChronicles", serif;
  font-weight: 500;
  font-size: 76px;
  line-height: 89px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.main-description {
  max-width: 458px;
  font-size: 14px;
  line-height: 150%;
  font-weight: 400;
}
.button {
  color: #fff;
  font-size: 14px;
  line-height: 16.41px;
  font-weight: bold;
  padding-left: 72px;
  padding-right: 72px;
  padding-bottom: 22px;
  padding-top: 22px;
  border: none;
  border-radius: 8px;
  background: #9d2929;
  margin-top: 40px;
}
.play {
  width: 100px;
  height: 100px;
  background: #9d2929;
  border-radius: 50%;
  border: none;
  position: relative;
  margin: auto;
}
.play::before {
  content: "";
  width: 132px;
  height: 132px;
  background: #9d2929;
  opacity: 0.5;
  position: absolute;
  border-radius: 50%;
  left: -16px;
  top: -16px;
}
.play-image {
  position: relative;
  transform: translateX(5px);
}
/* slider */
.series {
  display: flex;
  align-items: center;
  margin-bottom: 60px;
  position: relative;
  max-width: 400px;
}
.card {
  width: 164px;
  height: 113px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 13px;
}
.card-subtile {
  font-size: 10px;
  line-height: 12px;
  margin-bottom: 2px;
}
.card-title {
  font-size: 14px;
  line-height: 16px;
}
.seria1 {
  background: linear-gradient(180deg, rgba(20, 18, 24, 0.5) 0%, #2d2d2d 100%),
    url(../img/seria1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.seria2 {
  background: linear-gradient(180deg, rgba(20, 18, 24, 0.5) 0%, #2d2d2d 100%),
    url(../img/seria2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.arrow {
  width: 32px;
  height: 23px;
  border: none;
  background-image: url(../img/arrow.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-color: transparent;
  position: absolute;
  top: 50%;
  right: -30px;
}
.swiper-container {
  max-width: 420px;
  margin-left: 0;
}
/* footer */
.footer {
  margin-top: auto;
  background: #141218;
  height: 60px;
  padding: 20px 0;
}
.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.right,
.left {
  font-size: 14px;
  line-height: 20px;
  color: #727174;
}
.footer-link {
  text-decoration: none;
  color: #727174;
  margin-left: 25px;
}
.menu-button {
  display: none;
}
.header-active {
  display: none;
}
@media (max-width: 768px) {
  .play {
    display: none;
  }
  .footer-content {
    flex-direction: column;
    align-items: flex-start;
  }
  .footer-link:first-child {
    margin-left: 0;
  }
  .copyright {
    display: block;
    margin-bottom: 8px;
  }
}
@media (max-width: 540px) {
  .menu-button {
    display: block;
    position: absolute;
    top: 40px;
    right: 35px;
    width: 30px;
    height: 2px;
    background: #fff;
    border: none;
    cursor: pointer;
  }
  .menu-button::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    height: 2px;
    background: #fff;
    margin-top: -7px;
    transition: transform 0.2s;
  }
  .menu-button::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    height: 2px;
    background: #fff;
    margin-top: 7px;
    transition: transform 0.2s;
  }
  .menu-button-active {
    height: 0;
  }
  .menu-button-active::before {
    transform: rotate(45deg);
    margin-top: 0;
  }
  .menu-button-active::after {
    transform: rotate(-45deg);
    margin-top: 0;
  }
  .header {
    display: none;
    flex-direction: column;
    position: absolute;
    right: 0;
    top: 0;
    background: #9d2929;
    width: 250px;
    padding-bottom: 40px;
    padding-top: 60px;
    margin-top: 0;
  }
  .header-active {
    display: flex;
  }
  .logo {
    margin-bottom: 25px;
  }
  .menu-list {
    margin: auto;
    order: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .menu-link {
    margin-right: 0;
    margin-bottom: 17px;
  }
  .social {
    order: 1;
    margin-bottom: 22px;
    width: 80%;
  }
  .social-link:first-child {
    margin-left: 0;
  }
  .swiper-container {
    width: 80%;
  }
  .main-content {
    margin-top: 190px;
  }
  .main-title {
    font-size: 56px;
  }
  .series {
    max-width: 400px;
  }
}
